<!doctype html>
<html lang="en">
  <head>
    <link rel="preload" href="assets/web_ibm_vga_8x16.woff" as="font" type="font/woff" crossorigin>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="Description" content="<%= current_page.data.description %>">
    <!-- Twitter card -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@j4yav" />
    <meta name="twitter:creator" content="@j4yav" />
    <!-- Open graph -->
    <meta property="og:url"                content="<%= data.config.site_url + current_page.url %>" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="<%= current_page.data.title %>" />
    <% if current_page.data["highlighted_image"] %>
      <meta property="og:image"              content="<%= data.config.site_url + current_page.data["highlighted_image"] %>" />
    <% else %>
      <meta property="og:image"              content="<%= data.config.site_url + "/images/gortek_focus.jpg"%>" />
    <% end %>
    <meta property="og:description"        content="<%= current_page.data["description"] || "This page does not have a description." %>" />
    <meta property="og:site_name"          content="Jason Yavorska" />
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Jason Yavorska" %></title>
    <!-- Set canonical link for this content -->
    <link rel="canonical" href="<%= current_page.data.canonical_url || data.config.site_url + current_page.url %>" />
    <!-- Load stylesheets -->
    <link rel="stylesheet" type="text/css" href="/metaluna.css" />
    <link
      rel="alternate"
      href="<%= data.config.site_url %>/blog.rss.xml"
      type="application/rss+xml"
      title="Jason Yavorska's Blog"/>
  </head>
  <body>
    <div class="content">
      <div class="menu">
        <span class="fg-gray hide-small">░░▒▒▓▓██</span>
        <a href="/">home</a> |
        <a href="/learn">kids can code</a> |
        <a href="/projects">projects</a> |
        <a href="/broadcast">radio broadcasting</a> |
        <a href="/dvds">dvds</a>
        <span class="fg-gray hide-small">██▓▓▒▒░░</span>
      </div>
      <%= yield %>
    </div>
  </body>
</html>

