---
title: "Jason Yavorska"
description: "My home page on the information superhighway"
blog: blog
---
<p><span class="fg-bright-white">Jason Yavorska</span> | <span class="fg-white">
Founder, product management specialist. Interested in remote and async work,
science fiction, retrocomputing, films, and old radio broadcast technology.
</span>
</p>

<pre class="hide-small fg-green">
<span class="fg-gray">         .              .                  .           .                          .                  .
                .
                 .          .                 ,                ,    , <span class="fg-bright-white">.</span>                       ,                
 .          <span class="fg-purple">\</span>          .                         .                             ,
      .      <span class="fg-purple">\</span>   ,                                            .                         .
   .          <span class="fg-purple">o</span>     .                 <span class="fg-bright-white">.</span>                   .            .  .                        .            
     .         <span class="fg-purple">\</span>                 ,             .                .
               <span class="fg-purple">#\##\#</span>      .                              .        .                    <span class="fg-bright-white">.</span>        .
             <span class="fg-purple">#  #O##\###</span>                .                        .             .                     ,
   <span class="fg-bright-white">.</span>        <span class="fg-purple">#*#  #\##\###</span>                       .                     ,
        .   <span class="fg-purple">##*#  #\##\##</span>               <span class="fg-bright-white">.</span>                     <span class="fg-bright-white">.</span>      .                       .
      .      <span class="fg-purple">##*#  #o##\#</span>         <span class="fg-bright-white">.</span>                             ,       .                         ,                
          .    <span class="fg-purple"> *#  #\#</span>     .                    .             .          ,   .          .         
                      <span class="fg-purple">\</span>          .                         .</span>
<span class="fg-yellow">___^/\___^--____/\____^______________/\/\---/\___________---__________________^/\___^--____/\_________
   /\^   ^  ^    ^                  ^^ ^  '\ ^          ^       --- -      -         ---  __       ^
         --           -            --  -      -         ---  __       ^    ^                  ^^ ^  '\ </span>
</pre>

<p>
    <span class="fg-white bg-blue anim-025">
    &lt;Scanning for Hazardous Sectors you have marked to Avoid&gt;
  </span><br/>
  <span class="fg-light-red anim-075"> No Sectors are currently being avoided.</span>
   </p>
<p>
  <span class="fg-white anim-100"
    >Searching for messages received since your last time on:</span
  ></span><br/>
  <span class="green anim-175">
  <% page_articles.first(5).each do |article| %>
        &nbsp; - <a href="<%= article.data["canonical_url"] ? article.data["canonical_url"] : article.url %>"><%= article.title %></a><br/>
  <% end %>
  </span>
  </p>
  <p>
  <span class="fg-light-purple anim-2">
    We haven&apos;t seen you in <span class="yellow">3</span> days, welcome back. </span><br />
  <span class="fg-green anim-225">For playing your turns today, you receive
    <span class="fg-yellow">1</span> experience point<br />
    and your alignment went up by
    <span class="fg-yellow">1</span> point(s).</span><br />
</p>

  <p class="anim-250">Other sectors you can jump to:
  <a href="https://twitter.com/j4yav">Twitter</a>,
  <a href="https://lichess.org/@/j4yav">Lichess</a>,
  <a href="https://gitlab.com/users/jyavorska">GitLab</a>, 
  <a href="https://github.com/fastloris">GitHub</a>,
  <a href="https://linkedin.com/in/jlenny">LinkedIn</a>,
  <a href="https://mastodon.nl/@jason">Mastodon</a>
  </p>

<div id="cursor"></div>
