:root {
  /* ASCII colors **/
  --black: rgb(20, 20, 20);
  --blue: rgb(0, 0, 170);
  --green: rgb(0, 170, 0);
  --cyan: rgb(0, 170, 170);
  --red: rgb(170, 0, 0);
  --purple: rgb(170, 0, 170);
  --yellow: rgb(185, 185, 0);
  --white: rgb(210, 210, 210);
  --gray: rgb(170, 170, 170);
  --light-blue: rgb(0, 0, 255);
  --light-green: rgb(0, 255, 0);
  --light-cyan: rgb(85, 255, 255);
  --light-red: rgb(255, 85, 85);
  --light-purple: rgb(255, 85, 255);
  --light-yellow: rgb(255, 255, 85);
  --bright-white: rgb(255, 255, 255);
}

@font-face {
  font-family: "Web IBM VGA 8x16";
  font-style: normal;
  font-weight: 400;
  src: url(assets/web_ibm_vga_8x16.woff) format("woff");
}

@media (max-width: 880px) {
  .hide-small {
    display: none;
  }
}

.menu {
  text-transform: uppercase;
}

body {
  background-color: #222;
}

.content {
  background-color: var(--black);
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 40px;
  padding-bottom: 40px;
  color: var(--gray);
  font-family: "Web IBM VGA 8x16";
  border: 1px solid #333;
  min-height: 80vh;
  line-height: 1.1rem;
}

pre {
  font-family: "Web IBM VGA 8x16";
}

.anim-025 {
  opacity: 0;
  animation: fade;
  animation-delay: 0.25s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.anim-075 {
  opacity: 0;
  animation: fade;
  animation-delay: 0.75s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.anim-100 {
  opacity: 0;
  animation: fade;
  animation-delay: 1s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.anim-175 {
  opacity: 0;
  animation: fade;
  animation-delay: 1.75s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.anim-2 {
  opacity: 0;
  animation: fade;
  animation-delay: 2s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.anim-225 {
  opacity: 0;
  animation: fade;
  animation-delay: 2.25s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.anim-250 {
  opacity: 0;
  animation: fade;
  animation-delay: 2.5s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.fg-black {
  color: var(--black);
}

.fg-blue {
  color: var(--blue);
}

.fg-green {
  color: var(--green);
}

.fg-cyan {
  color: var(--cyan);
}

.fg-red {
  color: var(--red);
}

.fg-purple {
  color: var(--purple);
}

.fg-yellow {
  color: var(--yellow);
}

.fg-white {
  color: var(--white);
}

.fg-gray {
  color: var(--gray);
}

.fg-light-blue {
  color: var(--light-blue);
}

.fg-light-green {
  color: var(--light-green);
}

.fg-light-cyan {
  color: var(--light-cyan);
}

.fg-light-red {
  color: var(--light-red);
}

.fg-light-purple {
  color: var(--light-purple);
}

.fg-light-yellow {
  color: var(--light-yellow);
}

.fg-bright-white {
  color: var(--bright-white);
}

.bg-black {
  background-color: var(--black);
}

.bg-blue {
  background-color: var(--blue);
}

.bg-green {
  background-color: var(--green);
}

.bg-cyan {
  background-color: var(--cyan);
}

.bg-red {
  background-color: var(--red);
}

.bg-purple {
  background-color: var(--purple);
}

.bg-yellow {
  background-color: var(--yellow);
}

.bg-white {
  background-color: var(--white);
}

.bg-gray {
  background-color: var(--gray);
}

.bg-light-blue {
  background-color: var(--light-blue);
}

.bg-light-green {
  background-color: var(--light-green);
}

.bg-light-cyan {
  background-color: var(--light-cyan);
}

.bg-light-red {
  background-color: var(--light-red);
}

.bg-light-purple {
  background-color: var(--light-purple);
}

.bg-light-yellow {
  background-color: var(--light-yellow);
}

.bg-bright-white {
  background-color: var(--bright-white);
}

a {
  color: var(--cyan);
}

a::before {
  content: "[";
  color: var(--light-cyan);
}

a::after {
  content: "]";
  color: var(--light-cyan);
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.pageimage {
  float: right;
  width: 150px;
  height: 150px;
  padding: 0;
  margin-right: 0.25em;
  margin-left: 1em;
  background-color: var(--black);
}

#cursor {
  background: var(--black);
  line-height: 17px;
  margin-left: 3px;
  animation: blink 0.8s infinite;
  -webkit-animation: blink 0.8s infinite;
  -moz-animation: blink 0.8s infinite;
  animation-delay: 3s;
  width: 7px;
  height: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--white);
  background-color: var(--blue);
}

@-webkit-keyframes blink {
  0% {
    background: var(--black);
  }
  50% {
    background: var(--white);
  }
  100% {
    background: var(--black);
  }
}
@-moz-keyframes blink {
  0% {
    background: var(--black);
  }
  50% {
    background: var(--white);
  }
  100% {
    background: var(--black);
  }
}
@keyframes blink {
  0% {
    background: var(--black);
  }
  50% {
    background: var(--white);
  }
  100% {
    background: var(--black);
  }
}
